[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=ArchLabs Hello
Exec=/usr/bin/archlabs-hello
Icon=archlabs-hello
Comment=A tool providing access to documentation and support for new ArchLabs users.
Comment[de]=Ein Tool für schnellen Zugriff auf Support und Dokumentation für neue ArchLabs-Nutzer.
Comment[es]=Una herramienta que provee acceso a la documentación y soporte para nuevos usuarios de ArchLabs.
Comment[fr]=Outil d'accès à la documentation et support aux nouveaux utilisateurs de ArchLabs.
Comment[nl]=Een manier voor nieuwe ArchLabs gebruikers om toegang tot documentatie en support te krijgen.
Comment[pl]=Narzędzie ułatwiające dostęp do dokumentacji i pomocy przeznaczone dla nowych użytkowników ArchLabs.
Comment[pt_BR]=Uma ferramenta que fornece acesso à documentação e suporte para novos usuários ArchLabs.
Comment[pt_PT]=Uma ferramenta que fornece acesso à documentação e suporte para novos usuários ArchLabs.
Comment[ru]=Средство доступа к документации и поддержке для новых пользователей ArchLabs.
Comment[it]=Strumento per accedere alla documentazione e supporto per nuovi utenti ArchLabs.
Name[en_NZ.utf8]=ArchLabs Hello
